/* * {
    margin: 0;
    padding: 0;
  }
  
  $color-primary: #f9ed69; //yellow
  $color-secondary: #f08a5d; //orange
  $color-tertiary: #b83b5e; //pink
  $color-text-dark: #333;
  $color-text-white: #eee;
  
  $width-button: 150px;
  
  @mixin clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  
  @mixin style-link-text($color) {
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
  }
  
  @function devide($a, $b) {
    @return $a / $b;
  }
  
  nav {
    margin: devide(60,2) * 1px;//30px
    background-color: $color-primary;  
    @include clearfix;
  }
  
  .navigation {
    list-style: none;
    float: left;
    
    //nested selector
    li {
      display: inline-block;
      margin-left: 30px;
      
      //& for pseudo classes
      &:first-child {
      margin:0;
      }
      
      a:link {
        @include style-link-text($color-text-dark);
      }   
    }  
  }
  
  .buttons {
     float: right;
  }
  
  //extends copy not rules, but selectors
  %btn-placeholder {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    width: $width-button; 
    @include style-link-text($color-text-white);
  }
  
  .btn-main {
    &:link {
      @extend %btn-placeholder;
      background-color: $color-secondary;
    }
    &:hover {
      background-color: darken($color-secondary, 15%)
    }
  }
  
  .btn-hot {
    &:link {
      @extend %btn-placeholder;
      background-color: $color-tertiary;
    }
    &:hover {
      background-color: darken($color-tertiary, 10%)
    }
  } */
